{% block content %}

<div class="container">
	<div class="settings-list">
		<h3>Настройки</h3>
		<ul id="settings"></ul>

		<form id="settings-form">
			<div class="input-container">
				<input type="text" id="fio" placeholder="Введите вашу ФИО" required>
				<input type="text" id="email" placeholder="Введите ваш email" required>
				<input type="date" id="birthdate" placeholder="Введите вашу Дату рождения"required>
				<div class="button">
					<button type="submit">Сбросить</button>
					<button type="submit">Добавить</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}