{% block content %}
	<!-- Боковое меню -->
<div class="settings-container" id="settings-menu">
	<div class="sidebar">
		<form action="/submit" method="post">
			<label for="start-date">Начальная дата:</label>
			<input type="date" id="start-date" name="start-date">

			<label for="end-date">Конечная дата:</label>
			<input type="date" id="end-date" name="end-date">
		</form>

		<div class="checkbox">
			<label><input type="checkbox" name="AllTime"> За весь период</label>
			<label><input type="checkbox" name="XZ"> Прост</label>
		</div>

		<div class="buttons">
			<button type="submit">Применить</button>
			<button type="reset">Сбросить</button>
		</div>
	</div>
	</div>
{% endblock content %}
