{% block content %}
	<!-- Боковое меню -->
<div class="conteiner-stat">
	<div class="sidebar-stat">

		<label for="start-date">Начальная дата:</label>
		<input type="date" id="start-date" name="start-date">

		<label for="end-date">Конечная дата:</label>
		<input type="date" id="end-date" name="end-date">


		<label><input class="checkbox-stat" type="checkbox" name="AllTime"> За весь период</label>
		<label><input class="checkbox-stat" type="checkbox" name="XZ"> Прост</label>
		<div class="stat-buttons">
			<button class="button-stat" type="submit">Применить</button>
			<button class="button-stat" type="reset">Сбросить</button>
		</div>
	</div>
	<div class="statistics-graph">
		{% block graphicks %}
		{% endblock graphicks %}
	</div>
</div>
{% endblock content %}
