/* Общие стили для страницы */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Контейнер страницы */
.container {
    display: flex;
    width: 98%;
    /* Ширина контейнера — 98% от ширины окна */
    height: 98vh;
    /* Высота контейнера — 98% от высоты окна */
    background-color: #252525;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    /* Центрируем контейнер */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* Боковая панель */
.sidebar {
    width: 25%;
    /* Ширина боковой панели */
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    height: 100%;
    /* Растягиваем боковую панель на всю высоту контейнера */
}

/* Фото пользователя */
.user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #555555;
    margin-bottom: 20px;
}

/* Кнопки боковой панели */
.tab-button {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-align: center;
}

.tab-button:hover {
    background-color: #45a049;
}

.tab-button:focus {
    outline: none;
    background-color: #3e8e41;
}

/* Основное окно с контентом */
.content {
    display: flex;
    align-items: flex-start ;
    justify-content:center ;

    width: 72%;
    background: #181818;
}

.tab-content {

}

/* Анимация переключения вкладок */
.tab-content:not([style*="display: none;"]) {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}